.DS_Store
nvim.bak/
.zcompdump
.zhistory
.zsh_history
/home/.config/gtk-3.0/gtk.css
/home/.config/gtk-4.0/gtk.css
/home/.config/rofi/colors.rasi
/home/.config/swaync/colors.css
/home/.config/zsh/colors.zsh
/home/.config/waybar/colors.css
/home/.config/hypr/conf.d/30-colors.conf
/home/.config/quickshell/HyprQuickFrame/theme.toml
/home/.config/hypr/config/hypr/look/colors.lua
/home/.config/zsh/colors.zsh
/home/.config/hypr/conf/look/colors.lua
/home/.config/matugen/templates/zsh-colors.zsh
/home/.config/wlogout/colors.css
/home/.config/gtk-3.0/gtk.css
/home/.config/gtk-4.0/gtk.css
/home/.config/quickshell/HyprQuickFrame/theme.toml
/home/.config/rofi/colors.rasi
/home/.config/swaync/colors.css
/home/.config/zsh/colors.zsh
